################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/VS2017/ConsoleApplication/HellowWorld/.vs/HellowWorld/v15

#Arquivo de uso apenas pelo VS2017 Git Extension
